:root{
  --color-primary: #1C8174;
  --color-primary-light: #49B2A2;
  --color-primary-dark: #0CFD44;
  --color-accent: #E2B443;
  --color-bg: #FFFFFF;
  --color-bg-dark: #0A1A1A;
  --color-highlight: #7FFFD4;
}
