openapi: 3.0.3
info:
  title: Finance Service API
  version: 1.0.0
  description: |
    Double-entry ledger, payout, and proof retrieval API. All endpoints require mTLS plus bearer auth.
servers:
  - url: https://finance.internal.illuvrse.com
    description: Production
  - url: https://finance.staging.illuvrse.com
    description: Staging
components:
  securitySchemes:
    mtls:
      type: mutualTLS
    bearer:
      type: http
      scheme: bearer
      bearerFormat: JWT
  schemas:
    JournalLine:
      type: object
      required: [accountId, direction, amount]
      properties:
        accountId:
          type: string
        direction:
          type: string
          enum: [debit, credit]
        amount:
          type: integer
          description: Amount in cents
        memo:
          type: string
    JournalEntry:
      type: object
      required: [journalId, timestamp, currency, lines]
      properties:
        journalId:
          type: string
          format: uuid
        batchId:
          type: string
          format: uuid
        timestamp:
          type: string
          format: date-time
        currency:
          type: string
        metadata:
          type: object
          additionalProperties:
            type: string
        lines:
          type: array
          minItems: 2
          items:
            $ref: '#/components/schemas/JournalLine'
    PayoutRequest:
      type: object
      required: [payoutId, amount, currency, destination, requestedBy]
      properties:
        payoutId:
          type: string
          format: uuid
        invoiceId:
          type: string
        amount:
          type: integer
          description: Amount in cents
        currency:
          type: string
        destination:
          type: object
          required: [provider, accountReference]
          properties:
            provider:
              type: string
            accountReference:
              type: string
        memo:
          type: string
        requestedBy:
          type: string
        status:
          type: string
          enum: [pending_approval, awaiting_signatures, approved, released, failed]
        providerReference:
          type: string
        approvals:
          type: array
          items:
            $ref: '#/components/schemas/PayoutApproval'
    PayoutApproval:
      type: object
      properties:
        approver:
          type: string
        role:
          type: string
        signature:
          type: string
        comment:
          type: string
        approvedAt:
          type: string
          format: date-time
    ProofPackage:
      type: object
      required: [proofId, manifest, ledgerLines, hashChain, signatures]
      properties:
        proofId:
          type: string
          format: uuid
        manifest:
          type: object
        ledgerLines:
          type: array
          items:
            type: string
        hashChain:
          type: array
          items:
            type: object
        signatures:
          type: array
          items:
            type: object
            required: [role, keyId, signature, signedAt]
            properties:
              role:
                type: string
              keyId:
                type: string
              signature:
                type: string
              signedAt:
                type: string
                format: date-time
paths:
  /finance/journal:
    post:
      security:
        - mtls: []
        - bearer: []
      operationId: postJournal
      summary: Post journal entries
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                entries:
                  type: array
                  items:
                    $ref: '#/components/schemas/JournalEntry'
      responses:
        '201':
          description: Entries committed
        '400':
          description: Validation error
        '409':
          description: Idempotency conflict
  /finance/payout:
    post:
      security:
        - mtls: []
        - bearer: []
      operationId: createPayout
      summary: Initiate payout
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PayoutRequest'
      responses:
        '202':
          description: Payout accepted for approval
        '403':
          description: Not authorized
  /finance/payout/{payoutId}:
    get:
      parameters:
        - in: path
          name: payoutId
          required: true
          schema:
            type: string
            format: uuid
      security:
        - mtls: []
        - bearer: []
      operationId: getPayout
      summary: Fetch payout status and approvals
      responses:
        '200':
          description: Payout payload
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayoutRequest'
        '404':
          description: Payout not found
  /finance/payout/{payoutId}/approvals:
    post:
      parameters:
        - in: path
          name: payoutId
          required: true
          schema:
            type: string
            format: uuid
      security:
        - mtls: []
        - bearer: []
      operationId: approvePayout
      summary: Submit payout approval signature
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [role, signature]
              properties:
                role:
                  type: string
                signature:
                  type: string
                comment:
                  type: string
      responses:
        '200':
          description: Payout approved and released
        '202':
          description: Approval recorded but quorum incomplete
        '409':
          description: Conflicting approval
  /finance/proof:
    post:
      security:
        - mtls: []
        - bearer: []
      operationId: createProof
      summary: Generate signed proof package
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [from, to, approvals]
              properties:
                from:
                  type: string
                  format: date-time
                to:
                  type: string
                  format: date-time
                approvals:
                  type: array
                  minItems: 1
                  items:
                    type: object
                    required: [role, signer]
                    properties:
                      role:
                        type: string
                      signer:
                        type: string
                requiredRoles:
                  type: array
                  items:
                    type: string
      responses:
        '201':
          description: Proof package created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProofPackage'
  /finance/proof/{proofId}:
    get:
      parameters:
        - in: path
          name: proofId
          required: true
          schema:
            type: string
            format: uuid
      security:
        - mtls: []
        - bearer: []
      operationId: getProofManifest
      summary: Retrieve proof manifest metadata
      responses:
        '200':
          description: Proof manifest
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProofResponse'
        '404':
          description: Range not materialized
