# Node runtime
node_modules/
npm-debug.log*
.pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# Env / secrets
.env
.env.local
.env.*.local
.keys/
.secrets/
keys.json
db.json

# Build / artifacts
dist/
build/
coverage/
.nyc_output/
*.tgz

# Logs & temp
logs/
*.log
tmp/
temp/
.cache/

# Editors / OS
.vscode/
.idea/
*.swp
.DS_Store

# Docker / local infra
docker-compose.override.yml
.docker/
*.compose

# Misc
.ssh/
.vagrant/

